body {

}
h1 {
    color:black;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 300%;
border: 10px solid blue;
padding: 30px;
margin: 50px;
}
p {
    color:black
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;

}

h2 {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    padding: 1px;
    margin: 30px;
}

h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    padding: 1px;
    margin: 30px;
}

li {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%
}

h4 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
}